<template>
    <div class="text-xl text-warning">Hi, this is app</div>
    <div class="text-xl text-danger">Hi, this is app</div>
    <div class="text-xl text-info">Hi, this is app</div>
    <div class="text-xl text-success">Hi, this is app</div>
    <div class="text-xl text-primary">Hi, this is app</div>
    <div class="text-xl text-secondary">Hi, this is app</div>
    <div class="text-xl text-xlime">Hi, this is app</div>
</template>
